# Firebase Web app configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=gamehubdz-98275.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gamehubdz-98275
VITE_FIREBASE_STORAGE_BUCKET=gamehubdz-98275.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=521947781931
VITE_FIREBASE_APP_ID=1:521947781931:web:db2beb863fdd86e224436e
VITE_FIREBASE_MEASUREMENT_ID=G-QJQWVTVZF2
